.app {
  height: 100vh;
  display: flex;
  color: white;
 background-image: url("./assets/background.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}

.main {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #e9a3005e),
  url("./assets/background.jpg")center;
  display: flex;
  flex-direction: column; 
}
.MuiToolbar-regular{
background-color: #49280E;
}
.logo{
  margin-right: 10px;
}
.makeStyles-paper-38{
  border-radius: 0px !important;
  background-color: #ebe6c2;
}
form{
width: 410px;
background-color: #ebe6c2;
}
.MuiContainer-maxWidthLg{
background-color: #ebe6c2;
}

button.boton-salir {
  background: #f19600;
  color: #fff;
  border: none;
  font-size: 29px;
  padding: 4px 29px;
  cursor: pointer;
  margin: 10px;
}
button.boton-salir:hover {
  background: #F5BD00;

}

.pyramid {
  width: 25%;
  background-color: #e2cf97;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 4px solid #210E02;
}

.moneyList {
  padding: 20px;
  list-style: none;
  width: 90%;
}

 .moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;

 }

 .moneyListItem.active {
  background-color: #F5BD00;
  color: #3a2525;
} 
.moneyListItemNumber {
  width: 25%;
  font-size: 18px;
  font-weight: 100;
}

.moneyListItemAmount {
  font-size: 17px;
  font-weight: 300;
}

.top {
  height: 37%;
  position: relative;
}
.bottom {
  height: 50%;
}
.timer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 100px;
  left: 50%;
  font-size: 30px;
  font-weight: 700;
}
.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.question {
  width: 80.1%;
  background: #FFF5B0;
  color: #49280E;
  text-align: center;
  padding: 20px;
  border: 2px solid 49280E;
  font-size: 20px;
  position: relative;
  bottom: 30px;
}

.answers {
    margin-top: -110px;
    margin: 1;
    width: 80.5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid #49280E;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #5c2404b7),
    url("./assets/madera.jpg")center ;
    background-size: cover;
    padding: 60px;

}

.answer {
  width: 40%;
  padding: 10px;
  margin: 0 10px 20px 10px;
  text-align: center;
  background: #FFFCFC;
  border: 1px solid #A9C1C8;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
  color: #567E95;
}

.answer:hover,
.answer.active {
  background: #49280E;
  color: #fff;
}

.answer.correct {
  animation: correct 5s ease forwards;
}
.answer.wrong {
  animation: wrong 5s ease forwards;
}


@keyframes correct {
  0%,
  22%,
  42% {
    background: #00BD9B;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#00CD6A, #00A286);
  }
  62%,
  100% {
    background: #00CD6A;
  }
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: #FF4B39;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#FF8009, #DF3626);
  }
  62%,
  100% {
    background: #F15300;
  }
}



.endText {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.start {
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.startInput {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.startInput:focus {
  outline: none;
}

.startButton {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
} 

.MuiButton-containedPrimary {
  color: #fff !important;
  background-color: #512e06 !important;
}